* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    padding: 10px 20px;
}

#logo, h1{
    display: inline-block;
    vertical-align: middle;
}

h1{
    font-weight: 700;
}

#container{
    margin: 30px auto;
    background-color: white;
    border-radius: 5px;
    max-width: 600px;
}

.navbar{
    height: 40px;
    border-bottom: 2px solid #F6F8F9;
    padding: 10px 40px;
}

.list{
    background-color: white;
    margin: 20px 30px;
    border-radius: 5px;
    padding: 10px 10px
}

button{
    border: 1px solid;
    border-radius: 4px;
    font-size: 10px;
    color: white;
    padding: 5px;
    background-color: #47ADF1;
    cursor: pointer;
    display: inline-block;
}


button:last-child{
    background-color: white;
    color: darkgrey;
}

h2, h3, h4{
    font-size: 16px;
    display: inline-block;
}

span{
    display: inline-block;
    vertical-align: sub;
}

ul{
    list-style-type: none;
}

li::before{
    content: '\2713';
    border: 1px solid green;
    border-radius: 50%;
}

.check-x::before{
    content: '\00D7';
    border: 1px solid red;
    color: red;
}

.label{
    font-size: 12px;
    border: 1px solid;
    border-radius: 10px;
}
